<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




	<mvc:annotation-driven />
		<!-- DataSource -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/aadhar"></property>
		<property name="username" value="root"></property>
		<property name="password" value="0007"></property>
	</bean>
	
	<!-- <bean id="jdbctemplet" class="org.springframework.jdbc.core.JdbcTemplate" >
	<property name="dataSource" ref="dataSource"></property>
	</bean> -->
	
	<bean id="jdbctemplet" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" >
	<constructor-arg ref="dataSource"> </constructor-arg> 
	</bean>
	
	<!-- <bean id="npjt" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate" >
	<constructor-arg ref="dataSource"> </constructor-arg> 
	</bean> -->
	
	<bean id="myDAO" class="com.spring.Dao.EmpDao_Implementation" >
	<property name="Simplejt" ref = "jdbctemplet"></property>  
	</bean> 
</beans>